/* aplicando estilos al elemento body*/
body{
    background-color: rgb(24, 138, 129);
    font-family: "Courier New",Courier,monospace;
    font-size: 25px;
}

table , th , td , caption{

    color: white;
    background-color: black;
    border: 5px solid black;
    border-collapse: collapse;
}

button{
    width: 75px;
    height: 75px;
    font-size: 25px;
}
/*aplicando estilos a las pantallas*/
#display{
    width: 315px;
    height: 75px;
    font-size: 40px;
    text-align: right;
    
}
/* Definiendo clase para alinear los elementos */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}